In [1]:
"""
날짜 : 2023/01/13
이름 : 라성준
내용 : 파이썬 데이터베이스 프로그래밍 실습
"""
import pymysql

In [3]:
# Insert 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java2db', 
                        charset='utf8')

                    
# SQL 실행객체 
cur = conn.cursor()

# SQL 실행
sql = "insert into `user3` values ('z101', '김춘추', '010-1234-1001', '33')"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Insert 완료...')

Insert 완료...

In [15]:
# Update 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java2db', 
                        charset='utf8')

                    
# SQL 실행객체 
cur = conn.cursor()

# SQL 실행
sql = "update `user3` set "
sql += "`name`='홍길동',"
sql += "`hp`='010-2222-3333',"
sql += "`age`='55',"
sql += "where `uid`='z101'"

cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()
print('Update 완료...')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where `uid`='j108'' at line 1")

In [9]:
# Delete 실습
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java2db', 
                        charset='utf8')

                    
# SQL 실행객체 
cur = conn.cursor()

# SQL 실행

cur.execute("delete from `user3` where `uid`= 'z101'")
conn.commit()

# 데이터베이스 종료
conn.close()
print('Delete 완료...')

for user in users:
    print('------------')
    print('아이디 :', user.uid)
    print('이름 :', user.name)
    print('휴대폰 :', user.hp)
    print('나이 :', user.age)

Delete 완료...

In [12]:
# Select 실습
from sub.User3VO import User3VO

# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1', 
                        user='root', 
                        password='1234',
                        db='java2db', 
                        charset='utf8')

                    
# SQL 실행객체 
cur = conn.cursor()

# SQL 실행

cur.execute("select * from `user3`")
conn.commit()

# 결과출력
for row in cur.fetchall():

    user = User3VO(row[0], row[1], row[2]. row[3])
    users.append(user)

    print('아이디 :', row[0])
    print('이름 :', row[1])
    print('휴대폰 :', row[2])
    print('나이 :', row[3])

# 데이터베이스 종료
conn.close()
print('Select 완료...')

아이디 : a102
이름 : 김춘추
휴대폰 : 010-1234-1002
나이 : 23
아이디 : a103
이름 : 장보고
휴대폰 : 010-1234-1003
나이 : 31
아이디 : j102
이름 : 홍길동
휴대폰 : 010-1111-1199
나이 : 31
아이디 : j103
이름 : 가나다
휴대폰 : 010-1231-1231
나이 : 29
아이디 : j104
이름 : 양만춘
휴대폰 : 010-3333-1111
나이 : 40
아이디 : j105
이름 : 이순신
휴대폰 : 010-1612-1119
나이 : 35
아이디 : j106
이름 : 정우성
휴대폰 : 010-2222-1111
나이 : 43
아이디 : j107
이름 : 아이유
휴대폰 : 010-5555-1115
나이 : 30
아이디 : j108
이름 : 원 빈
휴대폰 : 010-9919-1202
나이 : 45
Select 완료...